// search offcanvas
.searchOffcanvas {
    height: 130px !important;
    & .offcanvas-header {
        & .title {
            font-size: 16px;
            font-weight: 500;
            color: $gray-900;
        }
        & .closeBtn {
            border: none !important;
            background-color: transparent !important;
            & img {
                filter: brightness(0.5);
                height: 12px;
            }
        }
    }
    & .offcanvas-body {
        & .searchInput {
            border: none !important;
            border-bottom: 1px solid $gray-300 !important;
            font-size: 14px;
            padding-right: 20px;
            border-radius: 0 !important;
        }
        & .searchBtn {
            right: 0;
            transform: translateY(-50%);
            & img {
                filter: brightness(0.5);
                height: 16px;
            }
        }
    }
}


// cart offcanvas

.cartOffcanvas {
    width: 350px !important;
    & .offcanvas-header {
        & .title {
            font-size: 16px;
            font-weight: 500;
            color: $gray-900;
        }
        & .closeBtn {
            border: none !important;
            background-color: transparent !important;
            & img {
                filter: brightness(0.5);
                height: 12px;
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                border-bottom: 1px solid $gray-200;
                padding: 16px 0;
                & .cartProImg {
                    height: 90px;
                    width: 90px;
                    border-radius: 4px;
                    overflow: hidden;
                    & img {
                        object-fit: cover;
            
                    }
                }
                & .cartProName {
                    font-size: 0.875rem;
                    color: $gray-800;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & .cartRemoveImg {
                    & img {
                        filter: brightness(0.5);
                        height: 10px;
                    }
                }
                & .cartProColor {
                    font-size: 0.75rem;
                    color: $gray-600;
                }
                & .productRating {
                    & img {
                        height: 12px;
                    }
                }
                & .cartProPrice {
                    font-size: 0.85rem;
                    font-weight: 600;
                    color: $theme1;
                    & span {
                        font-size: 0.7rem !important;
                        color: $gray-600;
                        text-decoration: line-through;
                    }
                }
                & .cartPlusMinus {
                    & span {
                        display: inline-flex;
                        height: 22px;
                        width: 22px;
                        color: $gray-900;
                        align-items: center;
                        justify-content: center;
                        font-size: 13px;
                        border-top: 1px solid $gray-300;
                        border-bottom: 1px solid $gray-300;
                        &:first-child {
                            border-left: 1px solid $gray-300;
                            border-right: 1px solid $gray-300;
                            border-radius: 3px 0 0 3px;
                            cursor: pointer;
                        }
                        &:last-child {
                            border-left: 1px solid $gray-300;
                            border-right: 1px solid $gray-300;
                            border-radius: 0 3px 3px 0;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
            font-size: 12px;
            color: $gray-900;
            font-weight: 500;
            text-transform: uppercase;
        }
        & .subtotalValue {
            font-size: 12px;
            color: $gray-900;
            font-weight: 500;
        }
        & .addToCartBtn {
            height: 42px;
        }
    }
}



@mixin cartOffcanvas-mixin-min-sm(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-min-md(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-min-lg(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-min-xl(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-min-xxl(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-max-xl(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-max-1300(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-max-lg(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-max-md(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-max-sm(){
    .cartOffcanvas {
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};
@mixin cartOffcanvas-mixin-max-xs(){
    .cartOffcanvas {
        width: 100% !important;
    & .offcanvas-header {
        & .title {
        }
        & .closeBtn {
            & img {
            }
        }
    }
    & .offcanvas-body {
        .cartCard {
            & .cartCardInner {
                & .cartProImg {
                    & img {
            
                    }
                }
                & .cartProName {
                }
                & .cartRemoveImg {
                    & img {
                    }
                }
                & .cartProColor {
                }
                & .productRating {
                    & img {
                    }
                }
                & .cartProPrice {
                    & span {
                    }
                }
                & .cartPlusMinus {
                    & span {
                        &:first-child {
                        }
                        &:last-child {
                        }
                    }
                }
            }
        }
    }
    & .offcanvas-footer {
        & .subtotal {
        }
        & .subtotalValue {
        }
        & .addToCartBtn {
        }
    }
}
};




.mobileMenuOffcanvas {
    width: 300px !important;
    & .offcanvas-header {
        & .logo {
            & svg {
                height: 30px;
                width: 90px;
            }
        }
        & .closeBtn {
            border: none !important;
            background-color: transparent !important;
            & img {
                filter: brightness(0.5);
                height: 12px;
            }
        }
    }
    & .offcanvas-body {
        & .mobMenuUl {
            & .mobMenuLi {
                & .mobMenuAnchor {
                    color: $gray-900;
                    font-size: 14px;
                    text-decoration: none;
                    &.mobMenuCollapseAnchor {
                        background-repeat: no-repeat;
                        background-position: right 0 top 13px;
                        background-size: 14px;
                        &.collapsed {
                            background-image: url(../img/plusLightBlue.svg);
                        }
                        &:not(.collapsed) {
                            background-image: url(../img/minusLightBlue.svg);
                        }
                    }
                }
            }
        }
    }
}



.loader {
    &.active {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999999;
        & span {
            display: block;
            width: 70px;
            height: 70px;
            border: 3px solid;
            border-radius: 50%;
            border-color: transparent $theme1 $theme1;
            animation: cssload-spin 690ms infinite linear;
            @keyframes cssload-spin {
                100% {
                transform: rotate(360deg);
                transform: rotate(360deg);
                }
            }
        }
    }
    }

