<nav class="navbar navbar-expand-lg">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="assets/img/logo.png" alt="">
        </a>
        <div class="d-flex align-items-center flex-fill justify-content-end">
            <ul class="navbar-nav flex-row align-items-center iconBar justify-content-end w-50">
                <li class="nav-item position-relative w-75 searchBar">
                    <input class="form-control shadow-none" type="text" placeholder="Search for products, brands and more">
                    <img src="assets/img/searchLightBlue.svg" class="position-absolute top-50 translate-middle" alt="">
                </li>
                <li class="nav-item">
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Login
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>
